div.wlby_movie
{
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 768px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wlby_KF_14 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 594.6, 359);
	opacity: 0;
}
78.57% {
	-webkit-transform: matrix(1, 0, 0, 1, 594.6, 359);
	opacity: 1;
}
78.58%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 594.6, 359);
}
}
@-webkit-keyframes wlby_KF_8 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0;
}
2.7% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.173554;
}
5.4% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.330579;
}
8.1% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.471074;
}
10.81% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.595041;
}
13.51% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.702479;
}
16.21% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.793388;
}
18.91% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.867769;
}
21.62% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.92562;
}
24.32% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.966942;
}
27.02% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.991736;
}
29.72% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	opacity: 0.991736;
}
29.73%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
}
}
@-webkit-keyframes wlby_KF_5 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0;
}
2.04% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.159722;
}
4.08% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.305556;
}
6.12% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.4375;
}
8.16% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.555556;
}
10.2% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.659722;
}
12.24% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.75;
}
14.28% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.826389;
}
16.32% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.888889;
}
18.36% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.9375;
}
20.4% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.972222;
}
22.44% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.993056;
}
24.48% {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	opacity: 0.993056;
}
24.49%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
}
}
@-webkit-keyframes wlby_KF_11 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0;
}
3.84% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.159722;
}
7.69% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.305556;
}
11.53% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.4375;
}
15.38% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.555556;
}
19.23% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.659722;
}
23.07% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.75;
}
26.92% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.826389;
}
30.76% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.888889;
}
34.61% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.9375;
}
38.46% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.972222;
}
42.3% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.993056;
}
46.15% {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	opacity: 0.993056;
}
46.16%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
}
}
@-webkit-keyframes wlby_KF_17 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -9, -6.7);
	-webkit-transform-origin: 0px 0px;
	opacity: 1;
}
4.16% {
	-webkit-transform: matrix(1, 0, 0, 1, -11.91, -11.357);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.973505;
}
8.33% {
	-webkit-transform: matrix(1, 0, 0, 1, -14.197, -16.511);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.947011;
}
12.5% {
	-webkit-transform: matrix(1, 0, 0, 1, -15.537, -21.18);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.920516;
}
16.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -16.027, -25.728);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.894022;
}
20.83% {
	-webkit-transform: matrix(1, 0, 0, 1, -15.415, -30.625);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.867527;
}
25% {
	-webkit-transform: matrix(1, 0, 0, 1, -13.64, -35.45);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.841033;
}
29.16% {
	-webkit-transform: matrix(1, 0, 0, 1, -12.307, -38.872);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.814538;
}
33.33% {
	-webkit-transform: matrix(1, 0, 0, 1, -11.023, -42.179);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.788043;
}
37.5% {
	-webkit-transform: matrix(1, 0, 0, 1, -9.73, -45.523);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.761549;
}
41.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -8.507, -48.726);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.735054;
}
45.83% {
	-webkit-transform: matrix(1, 0, 0, 1, -7.21, -52.779);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.70856;
}
50% {
	-webkit-transform: matrix(1, 0, 0, 1, -6.16, -57.226);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.682065;
}
54.16% {
	-webkit-transform: matrix(1, 0, 0, 1, -5.586, -61.73);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.655571;
}
58.33% {
	-webkit-transform: matrix(1, 0, 0, 1, -5.859, -66.628);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.629076;
}
62.5% {
	-webkit-transform: matrix(1, 0, 0, 1, -9.131, -72.495);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.602582;
}
66.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -13.16, -77.392);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.576087;
}
70.83% {
	-webkit-transform: matrix(1, 0, 0, 1, -17.843, -82.946);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.549592;
}
75% {
	-webkit-transform: matrix(1, 0, 0, 1, -20.896, -87.195);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.523098;
}
79.16% {
	-webkit-transform: matrix(1, 0, 0, 1, -23.046, -90.929);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.496603;
}
83.33% {
	-webkit-transform: matrix(1, 0, 0, 1, -24.87, -95.136);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.470109;
}
87.5% {
	-webkit-transform: matrix(1, 0, 0, 1, -26.108, -99.756);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.443614;
}
91.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -26.502, -104.777);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.41712;
}
95.83% {
	-webkit-transform: matrix(1, 0, 0, 1, -25.8, -110);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.41712;
}
95.84%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -25.8, -110);
	-webkit-transform-origin: 4.5px 4.5px;
	opacity: 0.390625;
}
}
@-webkit-keyframes wlby_KF_20 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -7.85, 4.25);
	-webkit-transform-origin: 0px 0px;
	opacity: 1;
}
4.16% {
	-webkit-transform: matrix(1, 0, 0, 1, -10.76, -0.407);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.960938;
}
8.33% {
	-webkit-transform: matrix(1, 0, 0, 1, -13.047, -5.561);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.921875;
}
12.5% {
	-webkit-transform: matrix(1, 0, 0, 1, -14.387, -10.23);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.882812;
}
16.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -14.877, -14.778);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.84375;
}
20.83% {
	-webkit-transform: matrix(1, 0, 0, 1, -14.265, -19.675);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.804688;
}
25% {
	-webkit-transform: matrix(1, 0, 0, 1, -12.49, -24.5);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.765625;
}
29.16% {
	-webkit-transform: matrix(1, 0, 0, 1, -11.157, -27.922);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.726562;
}
33.33% {
	-webkit-transform: matrix(1, 0, 0, 1, -9.873, -31.229);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.6875;
}
37.5% {
	-webkit-transform: matrix(1, 0, 0, 1, -8.58, -34.573);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.648438;
}
41.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -7.357, -37.776);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.609375;
}
45.83% {
	-webkit-transform: matrix(1, 0, 0, 1, -6.06, -41.829);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.570312;
}
50% {
	-webkit-transform: matrix(1, 0, 0, 1, -5.01, -46.276);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.53125;
}
54.16% {
	-webkit-transform: matrix(1, 0, 0, 1, -4.436, -50.78);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.492188;
}
58.33% {
	-webkit-transform: matrix(1, 0, 0, 1, -4.709, -55.678);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.453125;
}
62.5% {
	-webkit-transform: matrix(1, 0, 0, 1, -7.981, -61.545);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.414062;
}
66.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -12.01, -66.442);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.375;
}
70.83% {
	-webkit-transform: matrix(1, 0, 0, 1, -16.693, -71.996);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.335938;
}
75% {
	-webkit-transform: matrix(1, 0, 0, 1, -19.746, -76.245);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.296875;
}
79.16% {
	-webkit-transform: matrix(1, 0, 0, 1, -21.896, -79.979);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.257812;
}
83.33% {
	-webkit-transform: matrix(1, 0, 0, 1, -23.72, -84.186);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.21875;
}
87.5% {
	-webkit-transform: matrix(1, 0, 0, 1, -24.958, -88.806);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.179688;
}
91.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -25.352, -93.827);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.140625;
}
95.83% {
	-webkit-transform: matrix(1, 0, 0, 1, -24.65, -99.05);
	-webkit-transform-origin: 0px 0px;
	opacity: 0.140625;
}
95.84%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -24.65, -99.05);
	-webkit-transform-origin: 4.5px 4.5px;
	opacity: 0.101562;
}
}
.wlby_17
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.5, -0.5);
}

.wlby_2
{
	position: absolute;
}

.wlby_13
{
	-webkit-animation-duration: 0.125s;
	display: none;
}

.wlby_18
{
	-webkit-animation-duration: 0.25s;
}

.wlby_6
{
	-webkit-animation-duration: 0.5s;
}

.wlby_8
{
	-webkit-animation-duration: 0.958333s;
}

.wlby_15
{
	-webkit-animation-duration: 1.29167s;
}

.wlby_10
{
	-webkit-animation-duration: 1.45833s;
}

.wlby_12
{
	-webkit-animation-duration: 1.91667s;
}

.wlby_5
{
	-webkit-animation-duration: 2.04167s;
}

.wlby_3
{
	-webkit-animation-duration: 2.04167s;
	-webkit-transform-origin: 512px 384px;
}

.wlby_1
{
	-webkit-animation-duration: 2.04167s;
	-webkit-transform: matrix(1, 0, 0, 1, 0.5, 0.25);
	-webkit-transform-origin: 512px 384px;
}

.wlby_4
{
	-webkit-animation-duration: 2.04167s;
	-webkit-animation-name: wlby_KF_5;
	-webkit-transform: matrix(1, 0, 0, 1, 89.85, 263.8);
	-webkit-transform-origin: 271px 26px;
	-webkit-animation-timing-function: linear;
}

.wlby_7
{
	-webkit-animation-duration: 1.54167s;
	-webkit-animation-name: wlby_KF_8;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 359.45);
	-webkit-transform-origin: 212px 28px;
	-webkit-animation-timing-function: linear;
}

.wlby_9
{
	-webkit-animation-duration: 1.08333s;
	-webkit-animation-name: wlby_KF_11;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 101.45, 431.9);
	-webkit-transform-origin: 220px 33px;
	-webkit-animation-timing-function: linear;
}

.wlby_11
{
	-webkit-animation-duration: 0.583333s;
	-webkit-animation-name: wlby_KF_14;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 594.6, 359);
	-webkit-transform-origin: 198px 37.5px;
	-webkit-animation-timing-function: linear;
}

.wlby_14
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,81.1,362.15);
}

.wlby_20
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,81.1,435.4);
}

.wlby_21
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,571.8,359.45);
}

.wlby_19
{
	-webkit-animation-duration: 1s;
	-webkit-animation-name: wlby_KF_20;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -24.65, -99.05);
	-webkit-transform-origin: 4.5px 4.5px;
	-webkit-animation-timing-function: linear;
	opacity: 0.101562;
}

.wlby_16
{
	-webkit-animation-duration: 1s;
	-webkit-animation-name: wlby_KF_17;
	-webkit-transform: matrix(1, 0, 0, 1, -25.8, -110);
	-webkit-transform-origin: 4.5px 4.5px;
	-webkit-animation-timing-function: linear;
	opacity: 0.390625;
}

