#stage{
	overflow: hidden !important;
	position: absolute;
	top: 705px;
	background: transparent !important;
}
div{
	margin: 0px;
	padding: 0px;
}


.fondo{
	background: url(images/bg.jpg);
	width: 1024px;
	height: 768px;
	position: absolute;
}