#stage{
	overflow: hidden !important;
	position: absolute;
	top: 705px;
	background-color: transparent !important;
}
div{
	margin: 0px;
	padding: 0px;
}
.unanube{
	position: absolute;
	left: 825px;
}
.dosnubes{
	position: absolute;
	left: 685px;

}