
#popupContact{
display:none;

position:absolute; /* hack for internet explorer 6*/
height:150px;
width:150px;
z-index:1004;

font-size:13px;

}

#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;

font-weight:700;
display:block;
}

#button{
left:270px;
	top:220px;
	position:absolute;
	z-index:1500;
	width:52px;
	height:42px;



}



blockquote:before, blockquote:after, q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
a{
cursor: pointer;
text-decoration:none;
}
br.both{
clear:both;
}
#backgroundPopup{
display:none;
position:fixed;
position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;

z-index:1005;
}


/*----------------------------------------*/



#popupContact1{
display:none;

position:absolute; /* hack for internet explorer 6*/
height:150px;
width:150px;
z-index:1004;
padding:12px;
font-size:13px;

}

#popupContactClose1{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;

font-weight:700;
display:block;
}

#button1{
left:403px;
	top:275px;
	position:absolute;
	z-index:1500;
	width:42px;
	height:42px;


}



blockquote:before, blockquote:after, q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
a{
cursor: pointer;
text-decoration:none;
}
br.both{
clear:both;
}
#backgroundPopup1{
display:none;
position:fixed;
position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;

z-index:1005;
}


/*-----------------------------------------*/



#popupContact2{
display:none;

position:absolute; /* hack for internet explorer 6*/
height:150px;
width:150px;
z-index:1004;
padding:12px;
font-size:13px;

}

#popupContactClose2{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;

font-weight:700;
display:block;
}

#button2{
left:950px;
	top:115px;
	position:absolute;
	z-index:1500;
	width:42px;
	height:42px;


}



blockquote:before, blockquote:after, q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
a{
cursor: pointer;
text-decoration:none;
}
br.both{
clear:both;
}
#backgroundPopup2{
display:none;
position:fixed;
position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;

z-index:1005;
}


/*-----------------------------------------*/



#popupContact3{
display:none;

position:absolute; /* hack for internet explorer 6*/
height:150px;
width:150px;
z-index:1004;
padding:12px;
font-size:13px;

}

#popupContactClose3{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;

font-weight:700;
display:block;
}

#button3{
left:925px;
	top:190px;
	position:absolute;
	z-index:1500;
	width:42px;
	height:42px;


}



blockquote:before, blockquote:after, q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
a{
cursor: pointer;
text-decoration:none;
}
br.both{
clear:both;
}
#backgroundPopup3{
display:none;
position:fixed;
position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;

z-index:1005;
}


