#stage{
	overflow: hidden !important;
	position: absolute;
	top: 705px;
	background-color: transparent !important;
}
div{
	margin: 0px;
	padding: 0px;
}
.unanube{
	position: absolute;
	left: 825px;
	z-index: 30;
	
}
.dosnubes{
	position: absolute;
	left: 685px;
z-index: 30;
}

.botonera{
	position: absolute;
	z-index: 40;
	top: 255px;
	left: 118px;
}
#boton1{
	position: absolute;
	background: url(images/texto1.png);
	background-position: 0 0;
	width: 803px;
	height: 50px;
	display: block;
	left: 0px;
	top: 10px;
}
#boton2{
	position: absolute;
	background: url(images/texto2.png);
	background-position: 0 0;
	width: 803px;
	height: 29px;
	display: block;
	left: 0px;
	top: 100px;
}#boton3{
	position: absolute;
	background: url(images/texto3.png);
	background-position: 0 0;
	width: 831px;
	height: 34px;
	display: block;
	left: 10px;
	top: 180px;
}
#capaHelp {
					display:none;
					background:url(images/toolrefe1.png) no-repeat top left;
					width:222px;
					padding:20px 10px 0 20px;
					height:170px;
					color:#000;
					font-weight:bold;
					top:-185px;
					left: 526px;
					position:absolute;
					z-index:101;
					font-size: 12px;
					font-family: arial;
					font-weight: bold;
					
				}
				a{
					color: #000;
					font-size: 12px;
					font: arial;
					text-decoration: none;
				}
				#capaHelp2 {
					display:none;
					background:url(images/toolrefe2.png) no-repeat top left;
					width:222px;
					padding:20px 10px 0 20px;
					height:110px;
					color:#000;
					font-weight:bold;
					top:-35px;
					left: 551px;
					position:absolute;
					z-index:1000;
					font-size: 12px;
					font-family: arial;
					font-weight: bold;
				}
				
				#icoHelp {
					cursor:pointer;
					position: absolute;
					left: 745px;
					top: 10px;
					z-index: 800;
				}
				#icoHelp2 {
					cursor:pointer;
					position: absolute;
					left: 766px;
					top: 102px;
					z-index: 1800;
				}